@model ContactUs
@{
    ViewData["Title"] = "ContactUs";
}
<!-- ======= Contact Section ======= -->
<head>
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
        </div>

    </div>

    <div class="container">

        <div class="row mt-5">

            <div class="col-lg-6">

                <div class="row">
                    <div class="col-md-12">
                        <div class="info-box">
                            <i class="bx bx-map"></i>
                            <h3>Our Address</h3>
                            <p>Mit Ghamr, El Dakhlia, Egypt</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4">
                            <i class="bx bx-envelope"></i>
                            <h3>Email Us</h3>
                            <p>info@example.com<br>contact@example.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4">
                            <i class="bx bx-phone-call"></i>
                            <h3>Call Us</h3>
                            <p>+1 1111 111111 00<br>+0 0000 00000 00</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <form asp-action="ContactUs" method="post" class="Formemail">
                    <div class="row">
                        <div class="col form-group mt-3">
                            <input type="text"   id="name" asp-for="Name" class="form-control" placeholder="Your Name" required>
                        </div>
                        <div class="col form-group mt-3">
                            <input id="email" type="email" asp-for="Email" class="form-control" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" asp-for="Subject" class="form-control" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea asp-for="Message" class="form-control" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div id="mes" class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button id="btnsubmit" type="reset" >Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
@section scripts {
    <script>
        $(document).ready(function () {
            $("#btnsubmit").click(function () {
                    $.ajax({
                        url: "/Home/ContactUs",
                        type: "POST",
                        success: (res => {
                            $(".sent-message").css({ display: "block" });
                            console.log(res);
                        }),
                        error: (err => {
                            console.log(err);
                        })
                    })
                    
            });
            $("#name").focus(function () {
                $(".sent-message").css({ display: "none" });
            })
            $("#email").focus(function () {
                $(".sent-message").css({ display: "none" });
            })

            }); 
    </script>

}