@model IEnumerable<News.Models.NewsTable>

@{
    ViewData["Title"] = "ViewNews";
}

@foreach (var item in Model)
{
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">


            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <img src="~/assets/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>@item.Title</h3>
                    <p class="fst-italic">
                        @item.Topic
                    </p>
                   
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->
}

